Pyrogram==2.1.30
pyromod==3.1.6
pymongo==4.8.0
async-lru==2.0.2
beautifulsoup4==4.9.3
certifi==2023.5.7
bs4==0.0.1
charset-normalizer==3.1.0
idna==3.4
mutagen==1.46.0
pyaes==1.6.1
pycryptodome==3.18.0
PySocks==1.7.1
python-dotenv==1.0.0
requests==2.32.2
soupsieve==2.4.1
TgCrypto==1.2.5
urllib3==2.0.3
websockets==12.0
motor
aiohttp==3.10.5
aiofiles
umongo==3.1.0
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
